<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Lingo!</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<div class="menu-wrapper">
    <div class="menu-header">Speluitleg</div>
    <div class="menu-text">
        <br>De eerste letter van het te raden woord wordt getoond.<br><br>

        Een beurt is alleen geldig als er binnen 10 seconden wordt gereageerd en het te raden woord aan de volgende eisen voldoet:<br>
        <ol>
            <li>Het woord bestaat</li>
            <li>Het woord is juist gespeld</li>
            <li>Het woord begint met de getoonde beginletter</li>
            <li>Het woord bestaat uit het gegeven aantal letters</li>
            <li>Het woord schrijf je niet met een hoofdletter, zoals plaats- en eigennamen</li>
            <li>Het woord bevat geen leestekens, zoals apostrofs, koppelstreepjes en punten</li>
        </ol>

        Een ongeldige beurt levert enkel de feedback op dat het hele woord ongeldig is. Het kost dan ook een raadbeurt. Dit geldt ook voor het te laat reageren!
    </div>
    <div id="gameButtons">
        <a th:href="@{/game}">Spelen</a>
        <a th:href="@{/scoreboard}">Scoreboard</a>
    </div>
</div>
</body>
</html>